ICT2Client/src/META-INF/wsdl/localhost_8080/ICT2WebApplication/ICT2WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="ICT2WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/ICT2WebApplication/ICT2WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="divide">
<part name="parameters" element="tns:divide"/>
</message>
<message name="divideResponse">
<part name="parameters" element="tns:divideResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="safeDivide">
<part name="parameters" element="tns:safeDivide"/>
</message>
<message name="safeDivideResponse">
<part name="parameters" element="tns:safeDivideResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="isConnected">
<part name="parameters" element="tns:isConnected"/>
</message>
<message name="isConnectedResponse">
<part name="parameters" element="tns:isConnectedResponse"/>
</message>
<message name="getLargestDoubleOnServer">
<part name="parameters" element="tns:getLargestDoubleOnServer"/>
</message>
<message name="getLargestDoubleOnServerResponse">
<part name="parameters" element="tns:getLargestDoubleOnServerResponse"/>
</message>
<message name="addDoubleOnServer">
<part name="parameters" element="tns:addDoubleOnServer"/>
</message>
<message name="addDoubleOnServerResponse">
<part name="parameters" element="tns:addDoubleOnServerResponse"/>
</message>
<portType name="ICT2WebService">
<operation name="divide">
<input wsam:Action="http://server/ICT2WebService/divideRequest" message="tns:divide"/>
<output wsam:Action="http://server/ICT2WebService/divideResponse" message="tns:divideResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/ICT2WebService/divide/Fault/Exception"/>
</operation>
<operation name="safeDivide">
<input wsam:Action="http://server/ICT2WebService/safeDivideRequest" message="tns:safeDivide"/>
<output wsam:Action="http://server/ICT2WebService/safeDivideResponse" message="tns:safeDivideResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/ICT2WebService/safeDivide/Fault/Exception"/>
</operation>
<operation name="hello">
<input wsam:Action="http://server/ICT2WebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://server/ICT2WebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="isConnected">
<input wsam:Action="http://server/ICT2WebService/isConnectedRequest" message="tns:isConnected"/>
<output wsam:Action="http://server/ICT2WebService/isConnectedResponse" message="tns:isConnectedResponse"/>
</operation>
<operation name="getLargestDoubleOnServer">
<input wsam:Action="http://server/ICT2WebService/getLargestDoubleOnServerRequest" message="tns:getLargestDoubleOnServer"/>
<output wsam:Action="http://server/ICT2WebService/getLargestDoubleOnServerResponse" message="tns:getLargestDoubleOnServerResponse"/>
</operation>
<operation name="addDoubleOnServer">
<input wsam:Action="http://server/ICT2WebService/addDoubleOnServerRequest" message="tns:addDoubleOnServer"/>
<output wsam:Action="http://server/ICT2WebService/addDoubleOnServerResponse" message="tns:addDoubleOnServerResponse"/>
</operation>
</portType>
<binding name="ICT2WebServicePortBinding" type="tns:ICT2WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="divide">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="safeDivide">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isConnected">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLargestDoubleOnServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addDoubleOnServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ICT2WebService">
<port name="ICT2WebServicePort" binding="tns:ICT2WebServicePortBinding">
<soap:address location="http://localhost:8080/ICT2WebApplication/ICT2WebService"/>
</port>
</service>
</definitions>